/*   VARIABLES     */
/*    MIXINS    */
/*    CSS       */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("../images/fondo.jpg");
}
#contenedor {
  width: 80%;
  margin-left: 10%;
}
#contenedor a {
  text-decoration: none;
  text-align: center;
}
#contenedor header > a {
  background-image: url("../images/fondocabecera.jpg");
  background-repeat: no-repeat;
  background-size: 100% 150px;
  display: block;
  min-width: 100%;
  height: 150px;
  padding-top: 50px;
  font-size: 200%;
}
#contenedor header nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}
#contenedor header nav a {
  background-image: url("../images/opcion1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 50px;
  padding: 4% 14%;
  margin-right: 8%;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -ms-box-flex: 2;
  -o-box-flex: 2;
}
#contenedor #central {
  margin-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}
#contenedor aside {
  border: 1px solid white;
  max-width: 20%;
}
#contenedor aside section {
  margin-left: 30%;
}
#contenedor aside section form {
  border: 1px solid white;
  max-width: 50%;
}
#contenedor aside section form input[type="text"] {
  width: 70px;
}
#contenedor aside section form input[type="password"] {
  width: 70px;
}
