@import 'reset.css';
@import 'grid.less';


/*
 *  PALETA DE COLORES EN FUNCION DE LA IMAGEN DE CABECERA
 *  
 *  #64311E     MARRON OSCURO
 *  #A25230     MARRON MAS CLARO
 *  #F8A36C     CARNE                       USADO PARA CABECERA DE SECCIONES
 *  #DC7340     MARRON AUN MAS CLARO
 *  #FDCC91     AMARILLENTO
 */


/*/////////
// GRID //
/////////*/

/* Especifica número de columnas y su ancho  */
@columns: 12;
@column-width: 60;
@gutter-width: 20;

/* Remove the definition below for a pixel-based layout  */
@total-width: 100%;


/*///////////
// MIXINS //
///////////*/

/* Asigna border-radius */
.border-radius(@radius: 5px)
{
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    
    behavior: url(ie-css3.htc); /* Este archivo soluciona incompatibilidades con estilos de borde */
}

/* Asigna border-radius a las esquinas sup-izq e inf-der de la caja */
.semi-border-radius(@radio1: 10px)
{
    -webkit-border-top-left-radius: @radio1;
    -webkit-border-bottom-right-radius: @radio1;
    -moz-border-radius-topleft: @radio1;
    -moz-border-radius-bottomright: @radio1;
    border-top-left-radius: @radio1;
    border-bottom-right-radius: @radio1;
    
    behavior: url(ie-css3.htc); /* Este archivo soluciona incompatibilidades con estilos de borde */
}

/* Asigna sombreado */
.sombreado(@p1: 5px, @p2: 5px, @p3: 5px, @p4: 5px, @r: 50, @g: 50, @b: 50, @a: 0, @opacidad: 50)
{
    -webkit-box-shadow: 6px 8px 5px 0px rgba(50, 50, 50, 0.49);
    -moz-box-shadow:    6px 8px 5px 0px rgba(50, 50, 50, 0.49);
    box-shadow:         6px 8px 5px 0px rgba(50, 50, 50, 0.49);
}

/*
 * DECLARACION DE FUENTES
 */
@font-face {
font-family: "Augusta";
src: url("fuentes/augusta.eot"); /* For IE 6+ */
}
@font-face {
font-family: "Augusta";
src: local("?"), url("fuentes/augusta.woff") format("woff"), url("fuentes/augusta.ttf") format("truetype"), url("fuentes/augusta.eot") format("eot"); /* For CSS3 browsers inc. Firefox */
}




/*///////////
// LAYOUT //
///////////*/

body
{
   background-image: url("../images/fondo.jpg");
}

#contenedor
{
    width: 80%;
    overflow: hidden;
    
    background-color: #e1e1e1;
    
    .push();
    
    a
    {
        text-decoration: none;
        text-align: center;
    }
    
    header
    {
        .column(12);
        
        >a
        {
            background-image: url("../images/fondo3.png");
            background-repeat: no-repeat;
            background-size: 100% 100px;
            
            .border-radius(15);
            
            display: block;
            
            min-width: 100%;
            height: 100px;
            padding-top: 20px;
            
            font-family: Augusta;
            font-size: 4em;
            
            &:visited
            {
                color: black;
            }
        }
        
        nav
        {
            padding-top: 5px;
            .column(12);
            
            a
            {
                
                background-image: url("../images/fondo3.png");
                background-repeat: no-repeat;
                background-size: 100% 50px;
                 
                display: block;
                height: 50px;
                padding-top: 15px;
                
                font-weight: bold;
                letter-spacing: 0.3em;
                 
                .column(2.4);
  
                &:selected
                {
                    background-image: none;
                    background-color: #d4d4d4;
                }
                
                &:visited
                {
                    color: black;
                    background-image: none;
                    background-color: #d4d4d4;
                }
            }
        }
    }
    
    #contenido
    {
        .column(9);
        .semi-border-radius();
        .sombreado();
        
        background: white;
        color: black;
        margin-bottom: 20px;
        min-height: 600px;
        
        #migas
        {
            .column(8.7, 9);
            
            height: 40px;
            padding-top: 10px;
            
            a
            {
                .column(1.5);
                
                text-decoration: none;
                color: black;
                background-color: #efefef;
                .border-radius();
                
                &:visited
                {
                    color: black;
                }
            }
            
            span
            {
                .column(0.3);
            }
        }
        
        >section
        {
            .column(8.7,9);
            padding: 0.7em;
            
            h2
            {
                border: 1px solid black;
                .border-radius();
                
                background-image: url("../images/fondo.jpg");
                
                color: #FBC187;
                
                padding: 0.3em;
            }
            
            p
            {
                padding:1em;
            }
            
            article
            {
                .column(7.8,8);
                margin: 10px;
                border: 1px solid black;
                .border-radius();
                text-align: left;
                
                background-color: #efefef;
                background-image: none;
                
                >span
                {
                    .column(3);
                    margin: 30px 15px;
                    color: #64311E;
                    float: right;
                }
                >p
                {
                    margin: 10px;
                }
                
                >h3
                {
                    margin: 10px;
                    
                    text-align: center;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
                
                #formu
                {
                    .column(3);
                    display: block;
                    margin-top: 20px;

                    input[type="submit"]
                    {
                        margin: 10px;
                        .sombreado();
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    
    aside
    {
        .column(3);
        
        background-color: #FBC187;
        
        section
        {
            .semi-border-radius();
            .sombreado();
            
            margin: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: white;
            
            p
            {
                text-align: center;
                margin: 10px;
            }
            
            a
            {
                margin-top: 15px;
                background: #e5e5e5;
                
                .border-radius();
                
                &:visited
                {
                    color: black;
                }
            }
            
            form
            {
                .column(2.5,3);
                
                input
                {
                    margin-top: 15px;
                    
                    &[type="text"]
                    {
                        .column(1.5,2.5);
                        .push(4);
                    }
                    
                    &[type="password"]
                    {
                        .column(1.5,2.5);
                        .push(4);
                    }
                    
                    &[type="submit"]
                    {
                        .column(1.5,2.5);
                        .push(4);
                    }
                }
                
                a
                {
                    margin-top: 25px;
                    margin-bottom: 20px;
                    
                    .column(1.5,2.5);
                    .push(4);
                    .border-radius();
                    
                    background: #e5e5e5;
                }
            }
            
            
        }
    }
    
    >footer
    {
        color: black;
        padding: 0.5em;
        font-weight: bold;
        
        background-image: url("../images/fondo3.png");
        background-repeat: no-repeat;
        background-size: 100% 120px;
        position: relative;
        
        .column(11.8);
        
        section
        {
            .column(4);
            
            h5, a, img, p
            {
                display: block;
            }
            h5, p
            {
                text-align: center;
            }
            img
            {
                .push(4);
            }
            
            a:visited
            {
                color:black;
            }
        }
    }
}

#login_registro
{
    min-height: 100px;
    
    h5, a, input
    {
        display: block;
        text-align:center;
        
    }
    
    h5, a
    {
        height: 20px;
    }
    
    h5
    {
        margin-bottom: 0px;
    }
    
    label
    {
        display: none;
    }
}


#presentacion
{
    h3
    {
        background-color: #ff9393;
    }
}


#partidas
{
    article
    {
        h3
        {
            background-color: #ffd7c4;
        }
        
        p
        {
            height: 20px;
        }
        
        &:hover > p
        {
            height: 100%;
            transition: 1s;
        }
    }
    
}


#noticias
{
    article
    {
        h3
        {
            background-color: #FBC187;
        }
        
        p
        {
            height: 20px;
        }
        
        &:hover > p
        {
            height: 100%;
            transition: 1s;
        }
    }
}


#master
{
    article
    {
        h3
        {
            background-color: #ffd7c4;
        }
        
        select
        {
            .column(3);
            
            margin-top: 20px;
        }
    }
}


#jugador
{
    article
    {
        h3
        {
            background-color: #FBC187;
        }
    }
}


/* ZONA ADMINISTRADOR     Cambios estilos admin   */
.admin
{
    h2
    {
        text-align: center;
        text-transform: uppercase;
    }
    
    article
    {
        h3
        {
            font-weight: bold;
            text-align: center;
        }
        
        a
        {
            display: block;
            color: black;
            
            border: 1px solid black;
            
            .border-radius();
            
            .column(1.8, 6);
            
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 5px;
            
            background-color: #c0c0c0;
        }
        
        .enlacevacio
        {
            border: 0px;
            padding: 0px;
            background-color: none;
        }
        
        .enlaceBoton
        {
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
            
            &:hover
            {
                background: #e5e5e5;
                border: solid 1px #2A4E77;
                text-decoration: none;
                .sombreado();
            }
            
            &:active
            {
                -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
                -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
                box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
                background-image: url("../images/fondo.jpg");
                border: solid 1px #203E5F;
            }
            
            &:visited
            {
                color: black;
            }
        }
        
        #formadmin
        {
            .column(5, 7);
            
            margin: 20px;
            
            label, input, textarea, select
            {
                .column(7);
                .push(4);
                
                margin-bottom: 20px;
            }
            
            label
            {
                text-align: center;
            }
        }
        
        table
        {
            .column(5, 7);
            .border-radius();
            .push(3);
            
            border-collapse: collapse;
            border: 1px solid black;
            margin: 20px;
            table-layout: fixed;
            
            tr
            {
                border: 1px solid black;
                
                .column(12);
                
                td
                {
                    /*border: 1px solid black;*/
                    
                    &:first-child
                    {
                        .column(5, 7);
                    }
                    
                    &:last-child
                    {
                        
                    }
                }
            }
        }
    }
}


/*  MEDIA QUERIES */

@media screen and (max-width: 1320px)
{
    #contenedor
    {
        header
        {
            >a
            {
                font-size: 3.5em;
            }
        }
    }
}

@media screen and (max-width: 1170px)
{
    #contenedor
    {
        header
        {
            >a
            {
                font-size: 3.2em;
            }
        }
    }
}

@media screen and (max-width: 1050px)
{
    #contenedor
    {
        header
        {
            >a
            {
                font-size: 3em;
            }
        }
    }
}

@media screen and (max-width: 990px)
{
    #contenedor
    {
        header
        {
            >a
            {
                font-size: 2.7em;
            }
        }
    }
}


/*  CAMBIO GENERAL DE ESTILO EN 900PX  */

@media screen and (max-width: 900px)
{
    #contenedor
    {
        header
        {
            >a
            {
                font-size: 2.5em;
            }
        }
    }
}
